<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body onload="onload()">

    {%- include sidebar.html -%}

    {%- include header.html -%}

    <div id="content" class="content">
      <div class="div-main">
        <div id="blog" class="label-1">Blog</div>
        <hr>
        <main id="page-content" class="page-content" aria-label="Content">
          <div class="wrapper">
            {{ content }}
          </div>
        </main>
      </div>
      <span id="sidebar-toggle" class="sidebar-toggle">
          <i class="fas fa-angle-left"></i>
      </span>
    </div>
    
    {%- include footer.html -%}

    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
  </body>

</html>
